@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Course Management App</h1>
<p>manage Courses
<ul>
    <li><a href="/Courses">All Courses</a></li>
    <li><a href="@Url.Action("Create", "Courses")">Add a new Course</a></li>
</ul>
</p>